h1 {
	text-align: center;
	font-size: 200%;
}	

p {
	text-align: center;
	font-size: 170%;
}

div{
	display=inline-block
	margin: 0 auto;
	font-size: 170%;
}

#rojo {
	background-color: red;
	
}

#verde {
	background-color: #37F551;
	
}

#azul {
	background-color: #38ADF7;
	
}